**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!packages/
!packages/core/
!packages/core/**
!packages/db/
!packages/db/**
!sysop/
!sysop/dti/
!sysop/dti/**
!sysop/server/
!sysop/server/**
!sysop/app/
!sysop/app/**
!web/
!web/website/
!web/website/**
**/node_modules
**/dist
**/.next
**/coverage
**/.env
**/.env.*
**/.npmrc
**/*.log
**/*.tsbuildinfo
**/*.pem
**/*.key
**/next-env.d.ts
