@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
    --font-body: "Golos Text", Arial, Helvetica, sans-serif;

    /* --color-background: #f4f4f5;
    --color-surface: #ffffff;

    --color-foreground: #18181b;
    --color-muted: #71717a;
    --color-border: #e4e4e7; */

    --color-primary: #4aeeb6;

    --color-search-surface: #ffffff;
    --color-search-text: #18181b;
    --color-search-muted: #71717a;
    --color-search-border: #e4e4e7;
    --color-card-subtle: #f4f4f5;
    --color-card-overlay: #18181b99;
    --color-card-accent: #087f5b;

    --color-section-dark-bg: #1B1B1B;
    --color-section-dark-text: #FFFFFF;
    --color-menu-overlay: #000000eb;
    --color-catalog-surface: #f7f8fa;
    --color-catalog-border: #d1d5db;
    --color-catalog-muted: #59636e;
    /* --color-primary-hover: #2bc99a;
    --color-on-primary: #18181b; */
}

body {
    font-family: var(--font-body);
    background-color: #1b1b1b;
}